h1,p
{
    color:#000
}

#nav{
  background-color: #fafafa;
  height:60px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

#about {
    /*  background-color: #D57878;*/
      background-color: #C26868;
      height: 1020px;
      margin-top:-30px;
}

#code {
    /*  margin-top:150px;*/
      border-radius: 5px;
      width:750px;
      margin: 0 auto;
      padding-top:15px;
      font-size:30px;
      background: #ccc;
      height: 700px;
      font-family: 'Monaco', 'Courier New';
      text-align: left;
      font-size:13px;
      color: #fafafa;
    }
    
    #console {
      width:670px;
      padding: 40px;
      height: 620px;
      margin:0 auto;
      background: #383737;
    }

    span.answer {
        color:#ccc;
      }    
      
    

@font-face{
    font-family:Regular;
    src:url(../fonts/Graphik-Regular.eot);
    src:url(../fonts/Graphik-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Graphik-Regular.woff) format('woff'),
    url(../fonts/Graphik-Regular.ttf) format('truetype');
    font-weight:400;font-style:normal
}

@font-face{
    font-family:Semibold;
    src:url(../fonts/Graphik-Semibold.eot);
    src:url(../fonts/Graphik-Semibold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Graphik-Semibold.woff) format('woff'),
    url(../fonts/Graphik-Semibold.ttf) format('truetype');
    font-weight:600;font-style:normal

}

@font-face{
    font-family:Medium;
    src:url(../fonts/Graphik-Medium.eot);
    src:url(../fonts/Graphik-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Graphik-Medium.woff) format('woff'),
    url(../fonts/Graphik-Medium.ttf) format('truetype');
    font-weight:500;font-style:normal
}

div,h1,html,a{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline
    
}

body{
    background-image: url("img/cool-background\ \(4\).png");
    background-size: inherit;
}
    
::-webkit-scrollbar-thumb:window-inactive{
    background:#000
}

::selection{
    background:#000;
    color:#fff
}

::-moz-selection{
    background:#000;
    color:#fff
}

h1{
    font-size:200px;
    font-size:7.9vw;
    letter-spacing:-2px;
    line-height:110%;
    font-family:Semibold;
    position:fixed;
    top:34%;
    left:10%
}

.text{
    position:relative;
    display:block;
    overflow:hidden
}

.animate{
    -webkit-animation:animate 1.2s cubic-bezier(.2,.6,.2,1);
    -moz-animation:animate 1.2s cubic-bezier(.2,.6,.2,1);
    animation:animate 1.2s cubic-bezier(.2,.6,.2,1);
    -webkit-animation-fill-mode:backwards;
    -moz-animation-fill-mode:backwards;
    animation-fill-mode:backwards
}

@-webkit-keyframes animate{
    0%{
        -webkit-transform:translateY(100%)
    }
    100%{
        -webkit-transform:translateY(0)
    }
}

@keyframes animate{
    0%{
        transform:translateY(100%)
    }
    100%
    {
        transform:translateY(0)
    }
}

.delay{
    -webkit-animation-delay:.3s;
    animation-delay:.3
}

.about{
    position:absolute;
    top:100vh;
    left:50%;
    right:10%;
    padding-bottom:34vh;
}

h2{
    font-size:32px;
    font-size:2.5vw;
    line-height:140%;
    font-family:Medium;
    margin-bottom:10%
}

p{
    font-size:18px;
    font-size:1.80vw;
    line-height:180%;
    font-family:Regular;
    margin-bottom:6%
}

b{
    font-family:Medium
}

@media screen and (max-width:667px){
    h1{
        font-size:68px;
        font-size:18vw
    }
    
    h2{
        font-size:24px;
        font-size:6.4vw
    }
    p{
        font-size:18px;
        font-size:4.8vw
    }
    
    .about{
        left:0;
        right:0;
        background:#fff;
        padding:10%;
    }
}